# dir
assets/
auto_update/
cache/
crash-reports/
ctlib/
data-storage/
dimensionalhome/
exp/
libraries/
libs/
logs/
replay/
resource/
resource_end/
resource_nether/
syncmatics/
versions/
world/
world_nether/
world_the_end/

#file
.console_history
authlib-injector-1.2.5.jar
authlib-injector.log
banned-ips.json
banned-players.json
eula.txt
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
plugins/CoreProtect/database.db
